.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
bin-groovy
.DS_Store
ip
test-output
.cache
node_modules/
.jshintrc
*.o
.recommenders/
gradle-app.setting
**/gradlew*
**/gradle/*
.profiles/
**/soa-backup
**/out
.mqtt/**
**/.venv
**/.pytest_cache
**/dist
**/python/**/build
**/python/**/*.egg-info
**/*.out
**/*.log
**/*.log.*
github/*
/output